
.row {
    /* background-color: green; */
    display: flex;
    justify-content: space-evenly;
}

.sub {
    width: 75px;
    height: 40px;
    padding:  10px;
    margin: 10px;
    /* border: 1px solid #000; */
    /* background-color: lightyellow; */
}

.shadow {
    box-shadow: 0 9px 9px #999;
    background-color: #999;
    border-radius: 15px;
    position: relative;
    bottom: 5px;
    cursor: pointer;
}

.shadow:active {
    background-color: #999;
    box-shadow: 0 3px 3px #666;
    transform: translateY(4px);
}

.header {
    text-align: center;
}

.sub-header {
    margin-left: 250px;
    margin-right: 250px;
    display: flex;
    gap: 250px;
}

.host-pic {
    width: 250px;
    height: 270px;
}

.body-page {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.img {
    height: 500px;
    width: 600px;
}

.technologies {
    display: flex;
    justify-content: space-evenly;
}

.body-tech {
    display: flex;
    justify-content: center;
}


.footer {
    display: flex;
    justify-content: space-evenly;
}