.container {
    background-image: url("port-pic2.jpg");
}

.inner-container {
    margin: auto;
    width: 70%;
}

.row {
    /* background-color: green; */
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;

}

.nav-bar {
    text-decoration: none;
}

.shadow {
    box-shadow: 0 9px 9px #999;
    background-color: #999;
    color: black;
    border-radius: 15px;
    position: relative;
    bottom: 5px;
    cursor: pointer;
}

.shadow:active {
    background-color: #999;
    box-shadow: 0 3px 3px #666;
    transform: translateY(4px);
}

.profile-link {
    text-decoration: none;
}

h3 {
    color: grey;
}

.header {
    text-align: center;
}

.full {
    text-align: center;
}

.about-me {
    display: flex;
    margin-right: 80px;
    gap: 270px;
}

.hello-world {
    margin-left: 80px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 15px;
    background-color: lightyellow;
}

.hello-shadow {
    box-shadow: 9px 9px 9px grey;
    background-color: lightyellow;
    color: black;
    border-radius: 15px;
    position: relative;
    bottom: 5px;
    cursor: pointer;
}

.host-pic {
    padding-top: 15px;
    width: 350px;
    height: 400px;
    border-radius: 50%;
    margin-top: 25px;
    margin-right: 50px;
    background-color: lightblue;
}



.inner-projects {
    display: flex;
    justify-content: center;
    gap: 50px;
    /* background-color: olive; */
}


.img {
    height: 450px;
    width: 550px;
}

.img-text {
    text-align: center;
    margin-top: 0;
}

.technologies {
    display: flex;
    justify-content: space-evenly;
}

.sub-tech {
    background-color: lightgrey;
    /* border-radius: 15px; */
    width: 260px;
}


.tech-lang {
    transform: rotate(-3deg);
    background-color: lightgreen;
}

.tech-data {
    transform: rotate(5deg);
    background-color: pink;
}

.tech-frame {
    transform: rotate(3deg);
    background-color: orange;
}

.tech-tools {
    transform: rotate(-2deg);
    background-color: skyblue;
}

.s-note {
    background-color: lightyellow;
    box-shadow: 0 9px 9px grey;
    transform: translateY(4px);
    cursor: pointer;

}


.sub-inner {
    align-content: center;
    margin-left: 35px;
}


.body-tech {
    display: flex;
    justify-content: center;
}

.reach-me {
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.base-foot {
    margin-top: 80px;
    box-shadow: 0 9px 9px 9px grey;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    border-radius: 15px;
    gap: 50px;
}

.phone-number {
    color: black;
    margin-top: 0;
}

.section-word {
    margin-left: 12px;
}
