
.row {
    /* background-color: green; */
    display: flex;
    justify-content: space-evenly;
}

.sub {
    width: 75px;
    height: 40px;
    padding:  10px;
    margin: 10px;
    /* border: 1px solid #000; */
    /* background-color: lightyellow; */
}

.shadow {
    box-shadow: 7px 7px 7px 2px #555;
    position: relative;
    bottom: 5px;
    cursor: pointer;
}

.header {
    text-align: center;
}

.sub-header {
    margin-left: 250px;
    margin-right: 250px;
    display: flex;
    gap: 250px;
}

.host-pic {
    width: 250px;
    height: 270px;
}

.body-page {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.img {
    height: 500px;
    width: 600px;
}

.technology {
    text-align: center;
}

.technologies {
    display: flex;
    justify-content: space-evenly;
}

.footer {
    display: flex;
    justify-content: space-evenly;
}